.container {
  margin:  auto 400px;
  padding: 20px;
  font-family: sans-serif;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  text-align: center;
  color: #333;
  margin-top: 0;
}

button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin: 5px 0;
  
}

li span {
  flex-grow: 1;
  
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

fieldset {
  width: 400px;
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  
}

textarea {
  width: 100%;
  height: 100px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
